body {
  font-family: "proza libre", sans-serif;
  background-color: rgb(240, 240, 240);
}

.open-font {
  font-family: "open sans", sans-serif;
}

.purple-background {
  background-color: rgb(86, 43, 129);
}

.header-text {
  color: white;
  font-weight: 400;
}

.header-org {
  display: flex;
}

.header-h4 {
  padding-left: 20px;
}

.entires-head {
  display: flex;
  justify-content: space-between;
}

.entry-img {
  width: 100%;
  max-height: 402px;
  object-fit: contain;
  border-radius: 5px;
}

.img-container {
  width: 100%;
  height: 100%;
}

.entry-label {
  margin: 20px 0 5px;
  font-weight: 600;
}

.entry-input {
  width: 100%;
  height: 30px;
  border: 1px solid grey;
  border-radius: 2px;
  padding: 0 10px;
}

.entry-input-text {
  width: 100%;
  padding: 10px;
}

input:focus {
  outline-color: rgb(86, 43, 129);
}

textarea:focus {
  outline-color: rgb(86, 43, 129);
}

.save-col {
  text-align: end;
}

.save-btn {
  color: white;
  background-color: rgb(86, 43, 129);
  border: none;
  border-radius: 2px;
  margin: 20px 0;
  font-size: 16px;
  height: 35px;
  width: 80px;
}

.a-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 68px;
}

.text-center {
  text-align: center;
}

.list-display {
  list-style: none;
  padding: 0;
}

.entries-imgs {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

@media screen and (min-width: 768px) {
  .entries-imgs {
    max-height: 450px;
  }
}
